{% extends "modGeral.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/laboratorios/cadastrar_lab.css') }}">
<script src="{{ url_for('static', filename='scripts/previa-lab.js') }}"></script>
{% endblock %}

{% block headerlinks %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/inicio.css') }}">
<li class="side-item ">
    <a href="{{url_for('material.estoque')}}">
        <i class="fa-solid fa-box"></i>
        <span class="item-description menu-toggle">
            Estoque
        </span>
    </a>
    <ul class="sub-menu">
        <li class="sub-item item-description">
            <a href="{{url_for('material.cadastro_material')}}" class="opt-subitem">Novo Material</a>
        </li>
        <li class="sub-item item-description">
            <a href="{{url_for('material.cadastrar_reagente')}}" class="opt-subitem">Novo Reagente</a>
        </li>
    </ul>
</li>
<li class="side-item">
    <a href="{{url_for('lab.index')}}">
        <i class="fa-solid fa-microscope"></i>
        <span class="item-description menu-toggle">
            Laboratórios
        </span>
    </a>
    <ul class="sub-menu">
        <li class="sub-item item-description">
            <a href="{{url_for('lab.index')}}" class="opt-subitem">Laboratórios</a>
        </li>
        <li class="sub-item item-description">
            <a href="{{url_for('lab.cadastrar_lab')}}" class="opt-subitem">Novo Laboratório</a>
        </li>
    </ul>
</li>
<li class="side-item">
    <a href="{{url_for('lab.reservas')}}">
        <i class="fa-solid fa-clock"></i>
        <span class="item-description menu-toggle">
            Reservas    
        </span>
    </a>
    <ul class="sub-menu">
        <li class="sub-item item-description">
            <a href="{{url_for('lab.reservar_lab')}}" class="opt-subitem">Novas Reservas</a>
        </li>
    </ul>
</li>
<li class="side-item">
    <a href="#">
        <i class="fa-solid fa-bell"></i>
        <span class="item-description">
            Notificações
        </span>
    </a>
</li>
{% endblock %}

{% block content %}
<form action="{{url_for('lab.cadastrar_lab')}}" method="POST" id="form-lab">
        <div class="titulo">
            <h1>Novo Laboratório</h1>
        </div>

        <div class="container">
            <div class="info-lab-p1">
                <h2>Laboratório</h2>

                <label for="">Nome do Laboratório<span class="asterisco">*</span></label>
                <input type="text" name="nome" id="nome" required placeholder="Ex: Laboratório de Química Orgânica....">

                <label for="">Categoria do Laboratório<span class="asterisco">*</span></label>
                <select name="especialidade" id="especialidade" required>
                    <option value="">Selecione</option>
                        {% for categoria in especialidades %}
                            <option value="{{ categoria.esp_id }}">{{ categoria.esp_nome }}</option>
                        {% endfor %}
                </select>
                <span>ou <a href="/material/categorias">criar nova categoria</a></span>
            </div>
            <div class="info-lab-p2">
                <h2>Localização</h2>
                <div class="bloco-sala">
                    <label for="bloco">Bloco<span class="asterisco">*</span></label>
                    <div class="input-prefixo">
                        <span>Bloco</span>
                        <input type="text" id="bloco" name="bloco" required placeholder="Ex: A, B, C...">
                    </div>
                    <label for="sala" class="label-sala">Número da Sala<span class="asterisco">*</span></label>
                    <div class="input-prefixo sala">
                        <span id="prefixo-sala"></span>
                        <input type="text" id="sala" name="sala" required placeholder="Ex: 101, 202...">
                    </div>
                </div>
                <label for="">Capacidade (número de pessoas)<span class="asterisco">*</span></label>
                <input type="number" name="capacidade" id="capacidade" required placeholder="Ex: 20, 30..." min="1">

                <input type="submit" value="Cadastrar Laboratório" class="bnt-cadastrar">
            </div>
        </div>
        <div class="previa">
            <h1 class="previa-titulo">Prévia</h1>
            <div class="card-previa">
                <h1 class="prev-nome"></h1>
                <div class="info-card-previa">
                    <span class="prev-categoria">
                        <strong>Categoria:</strong>
                        <h4></h4>
                    </span>
                    <span class="prev-bloco">
                        <strong>Bloco:</strong>
                        <span></span>
                    </span>
                    <div class="prev-sala">
                        <strong>Sala:</strong>
                        <span></span>
                    </div>
                    <div class="prev-capacidade">
                        <strong>Capacidade:</strong>
                        <span></span>
                    </div>
                </div>
            </div>
</form>

<script>
const blocoInput = document.getElementById("bloco");
const prefixoSala = document.getElementById("prefixo-sala");

// Atualiza o prefixo da sala sempre que o usuário digitar no bloco
blocoInput.addEventListener("input", () => {
    const valorBloco = blocoInput.value.trim();
    prefixoSala.textContent = valorBloco ? valorBloco + "-" : "";
});
</script>
{% endblock %}
