{% extends "modGeral.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/laboratorios/cadastrar_lab.css') }}">
{% endblock %}

{% block headerlinks %}
<li class="side-item">
    <a href="{{url_for('dashboard')}}">
        <i class="fa-solid fa-home"></i>
        <span class="item-description">Início</span>
    </a>
</li>
<li class="side-item">
    <a href="{{url_for('lab.index')}}">
        <i class="fa-solid fa-microscope"></i>
        <span class="item-description">Laboratórios</span>
    </a>
</li>
<li class="side-item active">
    <a href="{{url_for('lab.cadastrar_lab')}}">
        <i class="fa-solid fa-square-plus"></i>
        <span class="item-description">Novo Laboratório</span>
    </a>
</li>
<li class="side-item">
    <a href="{{url_for('lab.reservar_lab')}}">
        <i class="fa-solid fa-table"></i>
        <span class="item-description">Nova Reserva</span>
    </a>
</li>
<li class="side-item">
    <a href="{{url_for('lab.reservas')}}">
        <i class="fa-solid fa-list"></i>
        <span class="item-description">Reservas</span>
    </a>
</li>
{% endblock %}

{% block perfil %}
<h1>Fulano</h1>
<img src="../../static/assets/perfil.jpg" alt="perfil">
{% endblock %}

{% block content %}
<div class="labs-div">
    <div class="lab-div">
        <div class="lab-name-box">
            <h2 class="lab-name">Novo Laboratório</h2>
        </div>
    </div>
</div>

<form action="{{url_for('lab.cadastrar_lab')}}" method="POST" id="form-lab">
    <div class="container">
        <h2>Laboratório</h2>

        <label for="nome_lab">Nome do Laboratório<span class="asterisco">*</span></label>
        <input type="text" name="nome_lab" id="nome-lab" required>

        <label for="especialidade_lab">Categoria do Laboratório<span class="asterisco">*</span></label>
        <select name="especialidade_lab" id="categoria-lab" required>
            <option value="">Selecione</option>
            {% for categoria in especialidades %}
                <option value="{{ categoria.esp_id }}">{{ categoria.esp_nome }}</option>
            {% endfor %}
        </select>
        <span>ou <a href="#">criar nova categoria</a></span>

        <h2>Localização</h2>
        <div class="row-inputs">
            <div class="col">
                <label for="bloco_lab">Bloco/Corredor<span class="asterisco">*</span></label>
                <input type="text" name="bloco_lab" id="bloco-lab" required>
            </div>
            <div class="col">
                <label for="sala_lab">Sala<span class="asterisco">*</span></label>
                <input type="text" name="sala_lab" id="sala-lab" required>
            </div>
        </div>

        <label for="capacidade_lab">Capacidade de Alunos<span class="asterisco">*</span></label>
        <input type="number" name="capacidade_lab" id="capacidade-lab" required>
        <div class="botao_center">
            <button type="submit" class="botao-cadastrar">Cadastrar</button>
        </div>
    </div>
</form>
{% endblock %}
