{% extends "modGeral.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/laboratorios/view_reserva.css') }}">
{% endblock %}

{% block headerlinks %}
<li class="side-item">
    <a href="{{url_for('dashboard')}}">
        <i class="fa-solid fa-home"></i>
        <span class="item-description">
            Início
        </span>
    </a>
</li>
<li class="side-item">
    <a href="{{url_for('lab.index')}}">
        <i class="fa-solid fa-microscope"></i>
        <span class="item-description">
            Laboratorios
        </span>
    </a>
</li>
<li class="side-item">
    <a href="{{url_for('lab.cadastrar_lab')}}">
        <i class="fa-solid fa-square-plus"></i>
        <span class="item-description">
            Novo Laboratório
        </span>
    </a>
</li>
<li class="side-item">
    <a href="{{url_for('lab.reservar_lab')}}">
        <i class="fa-solid fa-table"></i>
        <span class="item-description">
            Nova Reserva
        </span>
    </a>
</li>
<li class="side-item active">
    <a href="{{url_for('lab.reservas')}}">
        <i class="fa-solid fa-list"></i>
        <span class="item-description">
            Reservas
        </span>
    </a>
</li>
{% endblock %}

{% block perfil %}
<h1>Fulano</h1>
<img src="../../static/assets/perfil.jpg" alt="perfil">
{% endblock %}

{% block content %}
<div class="filtros-div">
    <form action="{{url_for('lab.reservas')}}" method="post">
        <div class="titulo">
            <h2>Filtrar</h2>
            <h2>laboratórios</h2>
        </div>
        <select name="especialidades_filtro" id="especialidades-select">
            <option value="todas">Especialidade</option>
            {% for especialidade in especialidades %}
                <option value="{{especialidade.esp_nome}}" class="especialidade-option">{{especialidade.esp_nome}}</option>
            {% endfor%}
        </select>
        <input type="search" name="buscar_lab" id="input-buscar-lab" placeholder="Buscar">
    
        <div class="data_e_hora">
            <!-- <label for="data_e_hora">Disponível em</label> -->
            <input type="date" name="data_filtro" id="input-data-filtro">
            <input type="time" name="horario_filtro" id="input-horario-filtro">
        </div>
        <input type="submit" value="filtrar">
    </form>
</div>

{% if request.method == 'POST' %}
<div class="rels-div">
    {% for reserva in reservas %}
    <div class="rel-div">
        <div class="lab-nome-box">
            <p class="lab-name">{{ reserva.lab_nome }}</p>
        </div>
        <p><span>se localiza no bloco</span> {{reserva.lab_bloco}} <span>na sala</span> {{reserva.lab_sala}}</p>
        <a href="{{ url_for('lab.reservar_lab') }}" class="btn-botao">Reservar</a>
    </div>
    {% endfor %}
</div>

{% else %}
<div class="rels-div">
    {% for reserva in reservas %}
    <div class="rel-div">
        <div class="lab-nome-box">
            <p class="lab-name">{{ reserva.laboratorio.lab_nome }}</p>
        </div>
        <!-- <p><span>tipo da reserva:</span> {{reserva.rel_tipo}}</p> -->
        <p><span>data:</span> {{reserva.rel_dataInicial}}</p>
        <p><span>horario:</span> {{reserva.rel_horarioInicial}} <span>às</span> {{reserva.rel_horarioFinal}}</p> 
        <p><span>status:</span> {{reserva.rel_status}}</p>
        
        <a href="{{ url_for('lab.detalhar_reserva', reserva_id=reserva.rel_id) }}" class="btn-botao">Detalhes</a>
        <a href="{{ url_for('lab.editar_reserva', reserva_id=reserva.rel_id) }}" class="btn-botao">Editar</a>
        
        <form action="{{ url_for('lab.excluir_reserva', reserva_id=reserva.rel_id) }}" method="POST">
            <button type="submit" class="btn-botao" onclick="return confirm('Tem certeza que deseja excluir esta reserva?')">Excluir</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
