{% extends "modGeral.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/laboratorios/view_lab.css') }}">
{% endblock %}

{% block headerlinks %}
<li class="side-item">
    <a href="#">
        <i class="fa-solid fa-box"></i>
        <span class="item-description menu-toggle">
            Estoque
        </span>
    </a>
    <ul class="sub-menu">
        <li class="sub-item item-description">
            <a href="#" class="opt-subitem">Novo Material</a>
        </li>
        <li class="sub-item item-description">
            <a href="#" class="opt-subitem">Novo Reagente</a>
        </li>
    </ul>
</li>
<li class="side-item">
    <a href="#">
        <i class="fa-solid fa-microscope"></i>
        <span class="item-description menu-toggle">
            Laboratórios
        </span>
    </a>
    <ul class="sub-menu">
        <li class="sub-item item-description">
            <a href="#" class="opt-subitem">Laboratórios</a>
        </li>
        <li class="sub-item item-description">
            <a href="#" class="opt-subitem">Novo Laboratório</a>
        </li>
    </ul>
</li>
<li class="side-item">
    <a href="#">
        <i class="fa-solid fa-clock"></i>
        <span class="item-description menu-toggle">
            Reservas
        </span>
    </a>
    <ul class="sub-menu">
        <li class="sub-item item-description">
            <a href="#" class="opt-subitem">Novas Reservas</a>
        </li>
    </ul>
</li>
<li class="side-item">
    <a href="#">
        <i class="fa-solid fa-bell"></i>
        <span class="item-description">
            Notificações
        </span>
    </a>
</li>
{% endblock %}

{% block perfil %}
<h1>Fulano</h1>
<img src="../../static/assets/perfil.jpg" alt="perfil">
{% endblock %}

{% block content %}
<div class="labs-div">
    {% for laboratorio in laboratorios %}
    <div class="lab-div">
        <div class="lab-name-box">
            <p class="lab-name">{{ laboratorio.lab_nome }}</p>
        </div>
        <div class="lab-conteudo">
            <div class="lab-description">
                Esse laboratório se localiza na sala {{laboratorio.lab_sala}} do corredor {{laboratorio.lab_bloco}}
            </div>
            <div class="lab-buttons">
                <a href="{{url_for('lab.reservas')}}">Ver Reservas</a>
                <a href="{{url_for('lab.reservar_lab')}}">Reservar</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}