{% extends "modGeral.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/laboratorios/view_lab.css') }}">
{% endblock %}

{% block headerlinks %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/inicio.css') }}">
<li class="side-item ">
    <a href="{{url_for('material.estoque')}}">
        <i class="fa-solid fa-box"></i>
        <span class="item-description menu-toggle">
            Estoque
        </span>
    </a>
    <ul class="sub-menu">
        <li class="sub-item item-description">
            <a href="{{url_for('material.cadastro_material')}}" class="opt-subitem">Novo Material</a>
        </li>
        <li class="sub-item item-description">
            <a href="{{url_for('material.cadastrar_reagente')}}" class="opt-subitem">Novo Reagente</a>
        </li>
    </ul>
</li>
<li class="side-item">
    <a href="{{url_for('lab.index')}}">
        <i class="fa-solid fa-microscope"></i>
        <span class="item-description menu-toggle">
            Laboratórios
        </span>
    </a>
    <ul class="sub-menu">
        <li class="sub-item item-description">
            <a href="{{url_for('lab.index')}}" class="opt-subitem">Laboratórios</a>
        </li>
        <li class="sub-item item-description">
            <a href="{{url_for('lab.cadastrar_lab')}}" class="opt-subitem">Novo Laboratório</a>
        </li>
    </ul>
</li>
<li class="side-item">
    <a href="{{url_for('lab.reservas')}}">
        <i class="fa-solid fa-clock"></i>
        <span class="item-description menu-toggle">
            Reservas    
        </span>
    </a>
    <ul class="sub-menu">
        <li class="sub-item item-description">
            <a href="{{url_for('lab.reservar_lab')}}" class="opt-subitem">Novas Reservas</a>
        </li>
    </ul>
</li>
<li class="side-item">
    <a href="#">
        <i class="fa-solid fa-bell"></i>
        <span class="item-description">
            Notificações
        </span>
    </a>
</li>
{% endblock %}

{% block perfil %}
<h1>Fulano</h1>
<img src="../../static/assets/perfil.jpg" alt="perfil">
{% endblock %}

{% block content %}
<div class="labs-div">
    {% for laboratorio in laboratorios %}
    <div class = "lab-card">
        <section class="info-lab">
            <div class="infos">
                <h2>{{ laboratorio.lab_nome }}</h2>
                <div class="reservas">
                    <strong>Reservas Ativas:</strong>
                    <span>{{ laboratorio.num_reservas }}</span>
                    <a href="#" class="btn-icone">
                        <i class="fa-solid fa-eye"></i>
                        <span>Visualizar</span>
                    </a>
                </div>
                <div class="capacidade">
                    <strong>Capacidade:</strong>
                    <span>{{ laboratorio.lab_capacidade }} pessoas</span>
                </div>
                <div class="localizacao">
                    <strong>Localização:</strong>
                    <span>bloco {{laboratorio.lab_bloco}}, sala {{laboratorio.lab_sala}}</span>
                </div>
            </div>
            <div class="botoes">
            {# {% if tipo_usuario == 'Técnico' %} #}
                <a href="#" class="btn-icone">
                    <i class="fa-solid fa-pen"></i>
                    <span>Editar</span>
                </a>
                <a href="#" class="btn-icone">
                    <i class="fa-solid fa-trash"></i>
                    <span>Excluir</span>
                </a>
            {# {% endif %} #}
                <a href="{{ url_for('lab.reservar_lab', lab_id=laboratorio.lab_id) }}" class="btn-icone">
                    <i class="fa-solid fa-plus"></i>
                    <span>Reservar</span>
                </a>
            </div>
        </section>
        <section class="especialização">
            {%if laboratorio.lab_especialidade == 1 %}
            <div class="especializacao-item">
                <i class="fa-solid fa-flask"></i>
            </div>
            {% endif %}
            {%if laboratorio.lab_especialidade == 2 %}
            <div class="especializacao-item">
                <i class="fa-solid fa-dna"></i>
            </div>
            {% endif %}
            {%if laboratorio.lab_especialidade == 3 %}
            <div class="especializacao-item">
                <i class="fa-solid fa-atom"></i>
            </div>
            {% endif %}
        </section>
    </div>
    {% endfor %}
</div>
{% endblock %}