{% extends "modGeral.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/laboratorios/view_lab.css') }}">
{% endblock %}

{% block headerlinks %}
<li class="side-item">
    <a href="{{url_for('dashboard')}}">
        <i class="fa-solid fa-home"></i>
        <span class="item-description">
            Início
        </span>
    </a>
</li>
<li class="side-item">
    <a href="{{url_for('lab.index')}}" class="active-menu">
        <i class="fa-solid fa-microscope"></i>
        <span class="item-description menu-toggle">
            Laboratórios
        </span>
    </a>
    <ul class="sub-menu">
        <li class="sub-item item-description">
            <a href="{{url_for('lab.index')}}" class="active-item">Laboratórios</a>
        </li>
        <li class="sub-item item-description">
            <a href="#" class="opt-subitem">Minhas Reservas</a>
        </li>
    </ul>
</li>
<li class="side-item">
    <a href="#">
        <i class="fa-solid fa-cubes"></i>
        <span class="item-description menu-toggle">
            Estoque
        </span>
    </a>
    <ul class="sub-menu">
        <li class="sub-item item-description">
            <a href="{{url_for('lab.index')}}" class="opt-subitem">Materiais</a>
        </li>
        <li class="sub-item item-description">
            <a href="#" class="opt-subitem">Grupos</a>
        </li>
    </ul>
</li>
<li class="side-item">
    <a href="#">
        <i class="fa-solid fa-bell"></i>
        <span class="item-description">
            Aulas
        </span>
    </a>
</li>
{% endblock %}

{% block perfil %}
<h1>Fulano</h1>
<img src="../../static/assets/perfil.jpg" alt="perfil">
{% endblock %}

{% block content %}
<div class="labs-div">
    {% for lab in laboratorios %}
    <div class="lab-div">
        <div class="lab-name-box">
            <p class="lab-name">{{ lab.lab_nome }}</p>
        </div>
        <div class="lab-conteudo">
            <div class="lab-description">
                Esse laboratório se localiza na sala {{lab.lab_sala}} do corredor {{lab.lab_bloco}}
            </div>
            <div class="lab-buttons">
                <a href="">Ver Reservas</a>
                <a href="">Reservar</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}