{% extends "modGeral.html" %}


{% block headerlinks %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/inicio.css') }}">
<li class="side-item active">
    <a href="#">
        <i class="fa-solid fa-home"></i>
        <span class="item-description">
            Início
        </span>
    </a>
</li>
<li class="side-item">
    <a href="#">
        <i class="fa-solid fa-microscope"></i>
        <span class="item-description menu-toggle">
            Laboratórios
        </span>
    </a>
    <ul class="sub-menu">
        <li class="sub-item item-description">
            <a href="{{url_for('professor.labs')}}" class="opt-subitem">Laboratórios</a>
        </li>
        <li class="sub-item item-description">
            <a href="{{url_for('lab.minhas_reservas')}}" class="opt-subitem">Minhas Reservas</a>
        </li>
    </ul>
</li>
<li class="side-item">
    <a href="#">
        <i class="fa-solid fa-cubes"></i>
        <span class="item-description menu-toggle">
            Estoque
        </span>
    </a>
    <ul class="sub-menu">
        <li class="sub-item item-description">
            <a href="{{url_for('index')}}" class="opt-subitem">Materiais</a>
        </li>
        <li class="sub-item item-description">
            <a href="#" class="opt-subitem">Grupos</a>
        </li>
    </ul>
</li>
<li class="side-item">
    <a href="#">
        <i class="fa-solid fa-book"></i>
        <span class="item-description">
            Aulas
        </span>
    </a>
</li>
{% endblock %}

{% block content %}
<div class="cards">
    <h1>Olá, professor {{nome}}!</h1>

    <div class="card maior">
        <div class="card-icone">
            <i class="fa-solid fa-microscope"></i>
        </div>
        <div class="content-card">
            <aside>
                <div class="card-title">
                    <h1>{{total_reservas}}</h1>
                    <span>Reservas<br>Solicitadas</span>
                </div>
                <span>Veja aqui mais informações sobre suas reservas!</span>
                <div class="buttons">
                    <a href="{{url_for('lab.reservas')}}">Reservas</a>
                    <a href="{{url_for('lab.reservar_lab')}}">Reservar
                        <div>+</div>    
                    </a>
                </div>
            </aside>
            <div class="side">
                <div class="card-title">
                    <h1>{{confirmadas}}</h1>
                    <span>Reservas<br>Confirmadas</span>
                </div>
                <div class="card-title">
                    <h1>{{pendentes}}</h1>
                    <span>Reservas<br>em análise</span>
                </div>
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-icone">
            <i class="fa-solid fa-cubes"></i>
        </div>
        <div class="content-card">
            <div class="card-title">
                <h1>{{quantidade_material}}</h1>
                <span>Materiais<br>Cadastrados</span>
            </div>
            <span>Busque por materiais!</span>

            <div class="buttons">
                <a href="#">Estoque</a>
                <a href="#">Reservar
                    <div>+</div>    
                </a>
                <a href="#">Grupos</a>
                <a href="#">Novo Grupo
                    <div>+</div>  
                </a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-icone">
            <i class="fa-solid fa-book"></i>
        </div>
        <div class="content-card">
            <div class="card-title">
                <h1>{1}</h1>
                <span>Aulas<br>Cadastradas</span>
            </div>
            <span>Acompanhe suas aulas</span>
            
            <div class="buttons">
                <a href="#">Aulas</a>
                <a href="#">Nova Aula
                    <div>+</div>  
                </a>
            </div>
        </div>

    </div>
</div>
{% endblock %}
