{% extends "modGeral.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/materiais/cadastrar_material.css') }}">
{% endblock %}


{% block perfil %}
<h1>Fulano</h1>
<img src="../../static/assets/perfil.jpg" alt="perfil">
{% endblock %}

{% block content %}
<div class="labs-div">
    <div class="lab-div">
        <div class="lab-name-box">
            <h2 class="lab-name">Novo Material</h2>
        </div>
    </div>
</div>

<form action="{{url_for('lab.cadastrar_lab')}}" method="POST" id="form-lab">
    <div class="container">
        <h2>Material</h2>

        <label for="">Nome do Material<span class="asterisco">*</span></label>
        <input type="text" name="" id="" required>

        <label for="">Categoria do Material<span class="asterisco">*</span></label>
        <select name="" id="" required>
            <option value="">Selecione</option>
            {% for categoria in categorias %}
                <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
            {% endfor %}
        </select>
        <span>ou <a href="#">criar nova categoria</a></span>
        
        <div class="column-inputs">
            <div class="col">
                <label for="">Descrição<span class="asterisco">*</span></label>
                <input type="text" name="" id="descricao" required>
            </div>
            <div class="col">
                <label for="">Fornecedor<span class="asterisco">*</span></label>
                <input type="text" name="" id="" required>
            </div>
        </div>

        <div class="row-inputs">
            <div class="col">
                <label for="">Data de vencimento<span class="asterisco">*</span></label>
                <input type="date" name="" id="" required>
            </div>
            <div class="col">
                <label for="">Quantidade<span class="asterisco">*</span></label>
                <input type="number" name="" id="" required>
            </div>
        </div>
        <div class="botao_center">
            <button type="submit" class="botao-cadastrar">Cadastrar</button>
        </div>
    </div>
</form>
{% endblock %}
