{% extends "modGeral.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/materiais/cadastrar_reagente.css') }}">
<script src="{{ url_for('static', filename='scripts/previa-rea.js') }}" defer></script>
<script src="{{ url_for('static', filename='scripts/teste.js') }}" defer></script>
{% endblock %}

{% block headerlinks %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/inicio.css') }}">
<li class="side-item ">
    <a href="{{url_for('material.estoque')}}">
        <i class="fa-solid fa-box"></i>
        <span class="item-description menu-toggle">
            Estoque
        </span>
    </a>
    <ul class="sub-menu">
        <li class="sub-item item-description">
            <a href="{{url_for('material.cadastro_material')}}" class="opt-subitem">Novo Material</a>
        </li>
        <li class="sub-item item-description">
            <a href="{{url_for('material.cadastrar_reagente')}}" class="opt-subitem">Novo Reagente</a>
        </li>
    </ul>
</li>
<li class="side-item">
    <a href="{{url_for('lab.index')}}">
        <i class="fa-solid fa-microscope"></i>
        <span class="item-description menu-toggle">
            Laboratórios
        </span>
    </a>
    <ul class="sub-menu">
        <li class="sub-item item-description">
            <a href="{{url_for('lab.index')}}" class="opt-subitem">Laboratórios</a>
        </li>
        <li class="sub-item item-description">
            <a href="{{url_for('lab.cadastrar_lab')}}" class="opt-subitem">Novo Laboratório</a>
        </li>
    </ul>
</li>
<li class="side-item">
    <a href="{{url_for('lab.reservas')}}">
        <i class="fa-solid fa-clock"></i>
        <span class="item-description menu-toggle">
            Reservas    
        </span>
    </a>
    <ul class="sub-menu">
        <li class="sub-item item-description">
            <a href="{{url_for('lab.reservar_lab')}}" class="opt-subitem">Novas Reservas</a>
        </li>
    </ul>
</li>
<li class="side-item">
    <a href="#">
        <i class="fa-solid fa-bell"></i>
        <span class="item-description">
            Notificações
        </span>
    </a>
</li>


{% endblock %}

{% block perfil %}
<h1>Fulano</h1>
<img src="../../static/assets/perfil.jpg" alt="perfil">
{% endblock %}

{% block content %}

<form action="{{url_for('material.cadastrar_reagente')}}" method="POST" id="form-lab">
    <div class="titulo">
        <h1>Novo Reagente</h1>
    </div>
    <div class="container">
        <h2>Reagente</h2>

        <label for="reagente">Nome do reagente<span class="asterisco">*</span></label>
        <input type="text" name="reagente" id="reagente" required placeholder="Ex: Ácido, Base...">

        <label for="">Categoria do reagente<span class="asterisco">*</span></label>
        <select name="tipo" id="tipo" required>
            <option value="">Selecione</option>
            {% for categoria in categorias %}
                <option value="{{ categoria.cat_id }}">{{ categoria.cat_nome }}</option>
            {% endfor %}
        </select>
        <span>ou <a href="/material/categorias">criar nova categoria</a></span>

        <div class="row-inputs">
            <div class="qnt-uni">
            <div class="col">
                <label for="">Quantidade<span class="asterisco">*</span></label>
                <input type="number" name="quantidade" id="quantidade-form" required laceholder="Ex: 5, 10..." min="1">
            </div>
                <div class="col">
                    <label for="">Unidade<span class="asterisco">*</span></label>
                    <select name="unidade" id="unidade" required>
                        <option value="">Selecione</option>
                        <option value="mL">mL</option>
                        <option value="L">L</option>
                        <option value="g">g</option>
                        <option value="kg">kg</option>
                        <option value="un">un</option>
                    </select>
                </div>
            </div>
            <div class="local">
                <label for="">Local</label>
                <select name="local" id="local">
                    <option value="">Selecione</option>
                    {% for lab in labs %}
                        <option value="{{ lab.lab_id }}">{{ lab.lab_nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="for-dv">
                <div class="col">
                    <label for="">Fornecedor<span class="asterisco">*</span></label>
                    <input type="text" name="fornecedor" id="fornecedor" required placeholder="Ex: Sigma-Aldrich, Amazon...">
                </div>
                <div class="col">
                    <label for="">Data de vencimento<span class="asterisco">*</span></label>
                    <input type="date" name="validade" id="data-vencimento"required>
                </div>
            </div>
                </div>
            <div class="botao_center">
                <button type="submit" class="botao-cadastrar">Cadastrar</button>
            </div>
        </div>
<div class="previa">
    <h1 class="previa-titulo">Prévia</h1>
    <div class="card-previa">
        <h1 class="prev-nome"></h1>

        <div class="info-card-previa">
            <div class="prev-categoria">
                <strong>Categoria:</strong>
                <h4></h4>
            </div>
            <div class="prev-quantidade-div">
                <strong>Quantidade:</strong>
                <span class="prev-quantidade"></span>
                <span class="prev-unidade"></span>
            </div>
            <div class="prev-local">
                <strong>Local:</strong>
                <span></span>
            </div>
            <div class="prev-fornecedor">
                <strong>Fornecedor:</strong>
                <span></span>
            </div>
            <div class="prev-vencimento">
                <strong>Data de Vencimento:</strong>
                <span></span>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}

