{% extends "modGeral.html" %}

{% block headerlinks %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/materiais/view_estoque.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/inicio.css') }}">
<li class="side-item ">
    <a href="{{url_for('material.estoque')}}">
        <i class="fa-solid fa-box"></i>
        <span class="item-description menu-toggle">
            Estoque
        </span>
    </a>
    <ul class="sub-menu">
        <li class="sub-item item-description">
            <a href="{{url_for('material.cadastro_material')}}" class="opt-subitem">Novo Material</a>
        </li>
        <li class="sub-item item-description">
            <a href="{{url_for('material.cadastrar_reagente')}}" class="opt-subitem">Novo Reagente</a>
        </li>
    </ul>
</li>
<li class="side-item">
    <a href="{{url_for('lab.index')}}">
        <i class="fa-solid fa-microscope"></i>
        <span class="item-description menu-toggle">
            Laboratórios
        </span>
    </a>
    <ul class="sub-menu">
        <li class="sub-item item-description">
            <a href="{{url_for('lab.index')}}" class="opt-subitem">Laboratórios</a>
        </li>
        <li class="sub-item item-description">
            <a href="{{url_for('lab.cadastrar_lab')}}" class="opt-subitem">Novo Laboratório</a>
        </li>
    </ul>
</li>
<li class="side-item">
    <a href="{{url_for('lab.reservas')}}">
        <i class="fa-solid fa-clock"></i>
        <span class="item-description menu-toggle">
            Reservas    
        </span>
    </a>
    <ul class="sub-menu">
        <li class="sub-item item-description">
            <a href="{{url_for('lab.reservar_lab')}}" class="opt-subitem">Novas Reservas</a>
        </li>
    </ul>
</li>
<li class="side-item">
    <a href="#">
        <i class="fa-solid fa-bell"></i>
        <span class="item-description">
            Notificações
        </span>
    </a>
</li>
{% endblock %}



{% block content %}

<div class="container">

    <a href="{{url_for('material.estoque')}}" class="voltar">← Estoque</a>

    <!-- CARD: Termômetro -->
    <div class="card-wrapper">
        <div class="lab-div">
            <h2 class="lab-name">Termômetro</h2>
        </div>
        <div class="card">
            <div class="card-body">
              <div class="informacoes">

                <div class="info_col">
                  <p><span class="info-titulos">Descrição:</span> Termômetro de ferro</p>
                  <p><span class="info-titulos">Fornecedor:</span> LabQuimicaLTDA</p>
                  <p><span class="info-titulos">Validade:</span> 01/01/2030</p>
                  <p><span class="info-titulos">Categoria:</span> <span class="categoria">Medição</span></p>
                </div>

              </div>

              <div class="informacoes">
                  <div class="info_col">
                    <p><strong>Unidades em estoque:</strong> 8</p>
                    <p><strong>Reservados:</strong> 2</p>
                    <div class="botoes">
                        <button class="btn">Deletar</button>
                        <button class="btn">Editar</button>
                    </div>
                  </div>
                  

              </div>
    
            </div>
        </div>
    </div>

    <!-- CARD: Reservas -->
    <div class="card-wrapper">
        <div class="lab-div">
            <h2 class="lab-name">Reservas Relacionadas</h2>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="reserva">
                    <span>Laboratório de Química Orgânica</span>
                    <span class="reserva-id">Reserva 11</span>
                </div>
                <div class="reserva">
                    <span>Laboratório de Física I</span>
                    <span class="reserva-id">Reserva 09</span>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
