{% extends "modGeral.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/materiais/view_estoque.css') }}">
{% endblock %}

{% block content %}

<div class="container">

    <a href="{{url_for('material.estoque')}}" class="voltar">← Estoque</a>

    <div class="labs-div">
      <div class="lab-div">
          <div class="lab-name-box">
              <h2 class="lab-name">Termômetro</h2>
          </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <p><strong>Descrição:</strong> Termômetro de ferro</p>
        <p><strong>Fornecedor:</strong> LabQuimicaLTDA</p>
        <p><strong>Validade:</strong> 01/01/2030</p>
        <p><strong>Categoria:</strong> <span class="categoria">Medição</span></p>
        <p><strong>Unidades em estoque:</strong> 8</p>
        <p><strong>Reservados:</strong> 2</p>
  
        <div class="botoes">
          <button class="btn">Deletar</button>
          <button class="btn">Editar</button>
        </div>
      </div>
    </div>

    <div class="labs-div">
      <div class="lab-div">
          <div class="lab-name-box">
              <h2 class="lab-name">Reservas relacionadas</h2>
          </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-body">
        <div class="reserva">
          <span>Laboratório de Química Orgânica</span>
          <span class="reserva-id">Reserva 11</span>
        </div>
        <div class="reserva">
          <span>Laboratório de Física I</span>
          <span class="reserva-id">Reserva 09</span>
        </div>
      </div>
    </div>
  
</div>
  
{% endblock %}
