asgiref==3.8.1
blinker==1.8.2
cachelib==0.13.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
cryptography==43.0.3
defusedxml==0.8.0rc2
f==0.0.1
Flask==3.0.3
Flask-DotEnv==0.1.2
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-MySQLdb==2.0.0
Flask-SQLAlchemy==3.1.1
greenlet==3.1.1
httplib2==0.22.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
# mysqlclient==2.2.4
pycparser==2.22
PyJWT==2.10.0
pymysql
pyparsing==3.2.0
python-dotenv==1.0.1
python3-openid==3.2.0
requests==2.32.3
requests-oauthlib==1.1.0
six==1.16.0
SQLAlchemy==2.0.36
sqlparse==0.5.2
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.0.4
