{% extends "modGeral.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/laboratorios/cadastrar_lab.css') }}">
{% endblock %}

{% block headerlinks %}
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
{% endblock %}

{% block perfil %}
<h1>Fulano</h1>
<img src="../../static/assets/perfil.jpg" alt="perfil">
{% endblock %}

{% block content %}
<form action="{{url_for('lab.cadastrar_lab')}}" method="POST" id="form-lab">
    <label for="nome_lab">Nome do laboratório:</label>
    <input type="text" name="nome_lab" id="nome-lab" required>

    <label for="especialidade_lab">Especialidade:</label>
    <select id="especialidade_lab" name="especialidade_lab" required> 
        {% for especialidade in especialidades %}
            <option value="{{ especialidade.esp_id }}">{{ especialidade.esp_nome }}</option>
        {% endfor %}
    </select>

    <div class="local">
        <label for="bloco_lab">Bloco/Corredor:</label>
        <input type="text" name="bloco_lab" id="bloco-lab" required>
        <label for="sala_lab">Sala:</label>
        <input type="text" name="sala_lab" id="sala-lab" required>
    </div>



    <div class="conteiner-labels">
        <label for="capacidade_lab">Capacidade:</label>
    </div>
    <div class="conteiner-inputs">
        <input type="number" name="capacidade_lab" min="1" id="capacidade-lab" required>
        <button type="submit" class="botao-cadastrar">Cadastrar</button>
    </div>

</form>
{% endblock %}
