{% extends "modGeral.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/laboratorios/laboratorios.css') }}">
{% endblock %}

{% block headerlinks %}
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
{% endblock %}

{% block perfil %}
<h1>Fulano</h1>
<img src="../../static/assets/perfil.jpg" alt="perfil">
{% endblock %}

{% block content %}
<div class="labs">
    <div class="lab-conteiner">
        <p>Laboratório 01</p>
        <img src="https://img.freepik.com/vetores-premium/poster-do-laboratorio-de-quimica_25030-55980.jpg" alt="">
    </div>
    <div class="lab-conteiner">
        <p>Laboratório 01</p>
        <img src="https://img.freepik.com/vetores-premium/poster-do-laboratorio-de-quimica_25030-55980.jpg" alt="">
    </div>
    <div class="lab-conteiner">
        <p>Laboratório 01</p>
        <img src="https://img.freepik.com/vetores-premium/poster-do-laboratorio-de-quimica_25030-55980.jpg" alt="">
    </div>
    <div class="lab-conteiner">
        <p>Laboratório 01</p>
        <img src="https://img.freepik.com/vetores-premium/poster-do-laboratorio-de-quimica_25030-55980.jpg" alt="">
    </div>
    <div class="lab-conteiner">
        <p>Laboratório 01</p>
        <img src="https://img.freepik.com/vetores-premium/poster-do-laboratorio-de-quimica_25030-55980.jpg" alt="">
    </div>
    <div class="lab-conteiner">
        <p>Laboratório 01</p>
        <img src="https://img.freepik.com/vetores-premium/poster-do-laboratorio-de-quimica_25030-55980.jpg" alt="">
    </div>
</div>
<div class="botoes">
    <button>
        <img src="../../static/assets/seta.png" alt="">
    </button>
    <p>página 1</p>
    <button>
        <img src="../../static/assets/seta.png" alt="">
    </button>
</div>
{% endblock %}
