{% extends "modGeral.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/laboratorios/view_lab.css') }}">
{% endblock %}

{% block headerlinks %}
<li class="side-item">
    <a href="{{url_for('dashboard')}}">
        <i class="fa-solid fa-home"></i>
        <span class="item-description">
            Início
        </span>
    </a>
</li>
<li class="side-item active">
    <a href="{{url_for('lab.index')}}">
        <i class="fa-solid fa-microscope"></i>
        <span class="item-description">
            Laboratorios
        </span>
    </a>
</li>
<li class="side-item">
    <a href="{{url_for('lab.cadastrar_lab')}}">
        <i class="fa-solid fa-square-plus"></i>
        <span class="item-description">
            Novo Laboratório
        </span>
    </a>
</li>
<li class="side-item">
    <a href="{{url_for('lab.reservar_lab')}}">
        <i class="fa-solid fa-table"></i>
        <span class="item-description">
            Nova Reserva
        </span>
    </a>
</li>
<li class="side-item">
    <a href="{{url_for('lab.reservas')}}">
        <i class="fa-solid fa-list"></i>
        <span class="item-description">
            Reservas
        </span>
    </a>
</li>
{% endblock %}

{% block perfil %}
<h1>Fulano</h1>
<img src="../../static/assets/perfil.jpg" alt="perfil">
{% endblock %}

{% block content %}
<div class="labs-div">
    {% for lab in laboratorios %}
    <div class="lab-div">
        <p>{{lab.lab_nome}}</p>
        <p><span>local:</span> Bloco: {{lab.lab_bloco}} Sala: {{ lab.lab_sala }}</p>
    </div>
    {% endfor %}
</div>


{% endblock %}