{% extends "modGeral.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/laboratorios/view_lab.css') }}">
{% endblock %}

{% block headerlinks %}

<a href="{{url_for('lab.cadastrar_lab')}}" class="btn-botao">Cadastrar</a>
<a href="{{url_for('lab.reservar_lab')}}" class="btn-botao">Reservar</a>
<a href="{{url_for('lab.reservas')}}" class="btn-botao">Reservas</a>
{% endblock %}

{% block perfil %}
<h1>Fulano</h1>
<img src="../../static/assets/perfil.jpg" alt="perfil">
{% endblock %}

{% block content %}
<div class="labs-div">
    {% for lab in laboratorios %}
    <div class="lab-div">
        <p>{{lab.lab_nome}}</p>
        <p><span>local:</span> Bloco: {{lab.lab_bloco}} Sala: {{ lab.lab_sala }}</p>
    </div>
    {% endfor %}
</div>


{% endblock %}