{% extends "modGeral.html" %}


{% block headerlinks %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/inicio.css') }}">
<li class="side-item">
    <a href="#">
        <i class="fa-solid fa-list"></i>
        <span class="item-description">
            Suas Reservas
        </span>
    </a>
</li>
<li class="side-item">
    <a href="#">
        <i class="fa-solid fa-book"></i>
        <span class="item-description">
            Suas Aulas
        </span>
    </a>
</li>
<li class="side-item">
    <a href="#">
        <i class="fa-solid fa-bell"></i>
        <span class="item-description">
            Notificações
        </span>
    </a>
</li>
{% endblock %}

{% block content %}
<div class="cards">
    <h1>Olá professor, {{nome}}</h1>
    <div class="card">
        <h1>Visualizar Aulas</h1>
        <p>Visulize suas aulas ministradas aqui</p>
    </div>


    <div class="card">
        <h1>Reservar Laboratórios</h1>
        <p>Gerencie seus pedidos de reservas aqui</p>
    </div>
</div>
{% endblock %}
