{% extends "modGeral.html" %}


{% block headerlinks %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/inicio.css') }}">
<li class="side-item active">
    <a href="#">
        <i class="fa-solid fa-home"></i>
        <span class="item-description">
            Início
        </span>
    </a>
</li>
<li class="side-item">
    <a href="#">
        <i class="fa-solid fa-microscope"></i>
        <span class="item-description">
            Laboratórios
        </span>
    </a>
    <ul class="sub-menu">
        <li class="sub-item">
            <a href="#">Laboratórios</a>
        </li>
        <li class="sub-item">
            <a href="#">Minhas Reservas</a>
        </li>
    </ul>
</li>
<li class="side-item">
    <a href="#">
        <i class="fa-solid fa-book"></i>
        <span class="item-description">
            Estoque
        </span>
    </a>
</li>
<li class="side-item">
    <a href="#">
        <i class="fa-solid fa-bell"></i>
        <span class="item-description">
            Aulas
        </span>
    </a>
</li>
{% endblock %}

{% block content %}
<div class="cards">
    <h1>Olá professor, {{nome}}</h1>
    <div class="card">
        <h1>Visualizar Aulas</h1>
        <p>Visulize suas aulas ministradas aqui</p>
    </div>


    <div class="card">
        <h1>Reservar Laboratórios</h1>
        <p>Gerencie seus pedidos de reservas aqui</p>
    </div>
</div>
{% endblock %}
