{% extends "modGeral.html" %}


{% block headerlinks %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/inicio.css') }}">
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
<form action="{{url_for('auth.logout', provider='suap')}}" method="post">
    <button type="submit">Sair</button>
</form>
{% endblock %}

{% block content %}
<div class="cards">
    <h1>Olá professor, {{nome}}</h1>
    <div class="card">
        <h1>Visualizar Aulas</h1>
        <p>Visulize suas aulas ministradas aqui</p>
    </div>

    <div class="card">
        <h1>Seu Perfil</h1>
        <p>Visualize seu perfil aqui</p>
    </div>

    <div class="card">
        <h1>Reservar Laboratórios</h1>
        <p>Gerencie seus pedidos de reservas aqui</p>
    </div>
</div>
{% endblock %}
