{% extends "modGeral.html" %}


{% block headerlinks %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/inicio.css') }}">
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
<form action="{{url_for('logout')}}" method="post">
    <button type="submit">Sair</button>
</form>
{% endblock %}

{% block perfil %}
<img src="{{foto}}" alt="perfil">
<h1>{{nome}}</h1>
<i class="fa-solid fa-user"></i>
{% endblock %}

{% block content %}

{% if tipo == 'Professor'%} #Se for professor
    <h1>oi Servidor</h1>

{% elif tipo == 'Aluno'%} #Página do aluno
    <h1>oi Aluno</h1>

{% elif tipo == 'Técnico'%} #Página Técnico
    <h1>oi Técnico</h1>
{%endif%}

{% endblock %}
