body{
    margin: 0;
    padding: 0;
}

main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.labs-div {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center; 
  max-width: 90rem;
  padding: 2rem;
  box-sizing: border-box;
}

.lab-card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  flex: 1 1 25rem;
  max-width: 25rem;
  height: 15rem;
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  position: relative;
}


.info-lab{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.infos{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.infos h2{
    font-size: 1.5rem;
    color: #145000;
}

.reservas{
    background-color: #8ce96a;
    min-width: 12rem;
    width: fit-content;
    max-width: 20rem;
    padding: 0.3rem;
    color: #145000;
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.lab-card:hover{
    transform: translateY(-5px);
}



.especialização{
    position: absolute;
    background-color: #1D6D00;
    border-radius: 100%;
    width: 6rem;
    height: 6rem;
    right: -2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform ease;
}

.especialização:hover{
    animation: girar 6s linear infinite;
    box-shadow: rgba(22, 255, 99, 0.1) 0px 4px 16px, rgba(52, 223, 0, 0.05) 0px 8px 32px;

}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.especialização i{
    color: white;
    font-size: 3rem;
    text-align: center;
}

.btn-icone {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #1D6D00;
  min-width: 2rem; 
  height: 2rem;
  border-radius: 50%;
  text-decoration: none;
  font-weight: 500;
  padding: 0 0.5rem;
  overflow: hidden;
  transition: all 0.5s ease; 
}

.btn-icone span {
  max-width: 0;        
  opacity: 0;          
  white-space: nowrap; 
  transition: all 0.5s ease;
}

.btn-icone:hover {
  border-radius: 8px;
  background-color: #145000;
  gap: 5px;
}

.btn-icone:hover span {
  max-width: 100px;
  opacity: 1;        
}
