#login {
    display: flex;
    width: 20%;
    height: 60%;
    background-color: white;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 60px, rgba(0, 0, 0, 0.22) 0px 10px 10px
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #b9fcd5, #07c035)
}

#login-btt {
    background-color: #7ed957;
    border: 0;
    border-radius: 10px;
    height: 5vh;
    width: 12vw;
    position: absolute;
    bottom: 30%;
    right: 44%;
}

#img-login {
    width: 60%;
    margin-top: 5%;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
}