@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    min-height: 100vh;
    background-color: #e3e9f7;
}

#lab-s{
    display: flex;
    width: 100vw;
    height: 100%;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: width 3s ease, padding 0.5s ease, gap 0.5s ease;
    width: 82px;
    z-index: 2;
}

#lab-menu {
    padding: 12px;
}

#hd-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;

    & img{
        width: 80%;
    }
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;

    & .foto{
        width: 50px;  /* Defina um tamanho fixo */
        height: 50px; /* Igual à largura para manter um círculo perfeito */
        border-radius: 50%;
        overflow: hidden; /* Garante que a imagem não ultrapasse a borda do círculo */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ddd; /* Caso a imagem não carregue */

         img{
            width: 100%; /* Faz a imagem ocupar todo o espaço do div */
            height: 100%; /* Mantém a altura igual ao div */
            object-fit: cover; /* Garante que a imagem cubra todo o círculo sem distorcer */
        }
    }
}

#user_infos {
    display: flex;
    flex-direction: column;
    margin: 0;

    #user_type {
        color: #6b6b6b;
        font-size: 12px;
    }
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, font-weight 0.3s ease;
}

.side-item:has(> a.active-menu){
    padding: 0;
    border-radius: 0;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, font-weight 0.3s ease;

    .active-menu{
        color: #e3e9f7;
        background-color: #36791a;
        border-radius: 8px;
        padding: 14px;
    }
}

.active-item {
    font-weight: bolder;
    border-bottom: #36791a 3px solid;
    border-radius: 1px;
    width: 70%;
}

.active{
    background-color: #36791a;
}

.sub-menu{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    .sub-item {
        font-size: 14px;
    }
}

.opt-subitem {
    position: relative;
    display: inline-block;
    color: #36791a;
    padding-bottom: 3px;
    font-weight: 500;
    transition: font-weight 0.3s ease, color 0.3s ease;
}

.opt-subitem::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: #36791a;
    border-radius: 1px;
    transition: width 0.5s ease-in-out;
}

.opt-subitem:hover {
    font-weight: 700;
    color: #245c14; /* um tom um pouco mais escuro, opcional */
}

.opt-subitem:hover::after {
    width: 70%;
}

.side-item.active-sub .sub-menu {
    max-height: 40rem; 
    opacity: 1;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #36791a;
    color: #e3e9f7;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

.item-description.username {
    font-size: 1rem;
    color: #36791a;
    font-weight: bold;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}


main {
    padding: 20px;
    max-width: 90vw;
    width: 100%;
    min-height: 100%;
    z-index: 1;
    padding-left: calc(82px + 20px);
    display: flex;
}

footer{
    background-color: #7ed957;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 15%;
    padding: 1rem;

    & #ft-infos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        & p{
            width: 70%;
            margin-bottom: 10px;
        }
    
        & a{
            color: #36791a;
        }
    }

    & #ft-contato{
        background-color: white;
        width: 20%;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & img{
            width: 50%;
            margin-bottom: 0.5rem;
        }

        & #ft-mail{
            display: flex;
            align-items: center;

            & span{
                font-size: 1.2rem;
                color: #36791a;
            }
        }
    }
}



