* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rels-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 15px; 
    padding: 20px;
    max-width: 1200px;
}

.rel-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white; 
    height: auto;
    border-radius: 8px; 
    width: 300px; 
    text-align: center;
    padding: 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.rel-div:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.lab-name{
    font-size: 1.5rem;
}

form {
    display: flex;
    justify-content: center;
}

.btn-botao {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    text-decoration: none;
    background-color: #7ed957;
    color: white;
    transition: 0.3s;
}

.btn-botao:hover {
    background-color: black;
    color: #7ed957;
}

.lab-nome-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7ed957;
    color: white;
    height: 50px;
    width: 100%;
    gap:10px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.lab-nome {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white; 
}

@media (max-width: 768px) {
    .rels-div {
        flex-direction: column;
        align-items: center;
    }

    .rel-div {
        width: 90%;
    }
}
