@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}

#lab-s {
    display: flex;
    flex-grow: 1;
    height: 100%;
    max-width: 100vw;
}

.container{
    display: flex;
    min-width: 100%;
    min-height: auto;
    align-items: center;
    justify-content: space-around;

    & .cards{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .card {

        gap: 10px;
        flex: 1; /* Faz os cards ocuparem o mesmo espaço */
        background-color: white;
        padding: 10px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        .title-card-div{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            margin-bottom: 5px;

            h5{
                margin: 0;
            }

            i{
                color: red;
                font-size: 1.5rem;
            }
        }
    }
}

footer {
    background-color: #7ed957;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

footer #ft-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer #ft-infos p {
    margin-bottom: 10px;
}

footer #ft-contato {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer #ft-contato img {
    width: 50%;
    margin-bottom: 0.5rem;
}

footer #ft-contato #ft-mail {
    display: flex;
    align-items: center;
}

footer #ft-contato #ft-mail span {
    font-size: 1.2rem;
    color: #36791a;
}
