body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(220, 255, 196);
}

#conteudo-sobre {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow-y: auto;
}

#lab-sobre {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 1.5rem;
    margin: 1rem;
    background-color: white;
    border-radius: 10px;

    & img {
        max-width: 100%; 
        height: auto;
        margin-bottom: 1rem; 
    }

    & #info-sobre {
        width: 100%;
        padding: 1rem;
        border-radius: 10px;
        background-color: #7ed957;

        & p {
            font-size: 1rem;
            text-align: justify;
        }
    }
}

#devs-sobre {
    height: auto;
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    gap: 30px;

    & .dev {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: white;
        border-radius: 10px;
        width: calc(25% - 20px);
        height: 90%;
        
        & img {
            border-radius: 100%;
          
            width: 50%;
        }

        & .info-dev {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #7ed957;
            border-radius: 10px;
            width: 85%;
            padding: 0.5rem;

            & h1 {
                color: rgb(241, 241, 241);
                
            }

            & .git-sobre {
                display: flex;
                margin-top: 1rem;
                width: 40%;
                align-items: center;
                justify-content: space-around;

                & i {
                    font-size: 1.3rem;
                }

                & a {
                    color: #395a2b;
                    text-decoration: none;
                    transition: color 0.3s;
                }

                & a:hover {
                    color: white;
                }
            }
        }
    }
}

button{
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: #7ed957;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: 0.3s;
    cursor: pointer;
}


button:hover{
    background-color: black;
    color: #7ed957;
}    

@media (max-width: 768px) {
    #lab-sobre {
        flex-direction: column;
        height: auto;
    }

    #lab-sobre #info-sobre {
        width: 100%;
        overflow-y: scroll;
    }

    #lab-sobre img {
        display: block; 
    }

    #devs-sobre .dev {
        width: calc(50% - 20px); 
    }
}

@media (max-width: 480px) {
    #lab-sobre {
        width: 90%;
        overflow-y: scroll;
    }

    #devs-sobre {
        width: 90%;
    }

    #devs-sobre .dev {
        width: 100%; 
    }
}
