{% extends "modGeral.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/materiais/cadastrar_material.css') }}">
{% endblock %}

{% block headerlinks %}

{% endblock %}

{% block perfil %}
<h1>Fulano</h1>
<img src="../../static/assets/perfil.jpg" alt="perfil">
{% endblock %}

{% block content %}
<div id="escolha">
    
    <button onclick="change_menu('reagentes')">Reagentes</button> 
    <button onclick="change_menu('materiais')">Materiais</button>
</div>

<!-- DIV DE CADASTRO DE REAGENTES -->

<div class="form" id="form_reagentes">
    <form action="{{url_for('material.cadastro_reagente')}}" method="POST" id="form-material">
        <label for="nome_reagente">Nome do reagente:</label>
        <input type="text" name="nome_reagente" id="nome-material">

        <label for="tipo_material">Categoria:</label>
            <div id="cat_existente" {% if not categorias %}style="display: none;"{% endif %}>
                <button type="button" onclick="change_menu('nova_categoria')">Criar nova categoria</button>
                <label for="tipo_reagente">Nome da categoria:</label>
                <select name="tipo_reagente" {% if categorias %}required{% endif %}>
                    <option value="" disabled selected>Selecionar categoria</option>
                        {% for categoria in categorias %}
                            <option value={{categoria}}>{{categoria}}</option>
                        {% endfor %}
                </select>
            </div>
            <div id="nova_cat" {% if categorias %}style="display: none;"{% endif %}>
                {% if not categorias %} <p>Nenhuma categoria cadastrada</p> {% endif %}
                    <button type="button" onclick="change_menu('categoria_existente')" {% if not categorias %}style="display: none;"{% endif %}>Selecionar categoria existente</button>
                <label for="tipo_reagente_novo">Nome da nova categoria:</label>
                <input type="text" name="tipo_reagente_novo" {% if not categorias %}required{% endif %}>
            </div>


        <div class="conteiner-labels">
            <label for="validade_reagente">Validade:</label>
            <label for="quantidade_reagente">Quantidade:</label>
            <label for="unidade">Medida:</label>
        </div>

        <div class="conteiner-inputs">
            <input type="date" name="validade_reagente" id="validade-material">
            <input type="number" name="quantidade_reagente" id="quantidade-material">
            <select name="unidade">
                <option value="g">g</option>
                <option value="l">L</option>
            </select>
        </div>

        <label for="lab_nome">Lab:</label>
        <select name="lab_local">
            {% for lab in laboratorios %}
                <option value={{lab.lab_sala}}>{{lab.lab_sala}}</option>
            {% endfor %}
        </select>

        <label for="fornecedor">Fornecedor:</label>
        <input type="text" name="fornecedor">

        <button type="submit" class="botao-cadastrar">Cadastrar</button>
    </form>
</div>

<!-- DIV DO FORM PARA O CADASTRO DE MATERIAIS -->

<div class="form" id="form_materiais" style="display: none;">
    <form action="{{url_for('material.cadastro_material')}}" method="post">
        <label for="nome_material">Nome do material</label>
        <input type="text" name="nome_material">

        <label for="descricao">Descrição (opcional)</label>
        <input type="text" name="descricao">

        <label for="quantidade">Quantidade</label>
        <input type="number" name="quantidade">

        <label for="fornecedor">Fornecedor</label>
        <input type="text" name="fornecedor">

        <label for="validade">Validade</label>
        <input type="date" name="validade">

        <label for="laboratorio">Laboratorio</label>
        <select name="laboratorio">
            {% for lab in laboratorios %}
                <option value={{lab.lab_sala}}>{{lab.lab_sala}}</option>
            {% endfor %}
        </select>

        <label for="categoria">Categoria</label>
        <select name="categoria">
            {% for cat in categorias %}
                <option value={{cat.cat_nome}}></option>
            {% endfor %}
        </select>
    </form>
</div>


<script src="../../static/scripts/cadastro_materiais.js"></script>



{% endblock %}
