{% extends "modGeral.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cadastrar_material.css') }}">
{% endblock %}

{% block headerlinks %}
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
{% endblock %}

{% block perfil %}
<h1>Fulano</h1>
<img src="../../static/assets/perfil.jpg" alt="perfil">
{% endblock %}

{% block content %}
<form action="{{url_for('material.nova_categoria')}}" method="post">
    <input name="nome" placeholder="Nome da Categoria" type="text" required>
    <button type="submit">Criar</button>
</form> 

<form action="{{url_for('material.cadastro')}}" method="POST" id="form-material">
    <label for="nome_material">Nome do material:</label>
    <input type="text" name="nome_material" id="nome-material">

    <label for="tipo_material">Tipo:</label>
    <input type="text" name="tipo_material" id="tipo-material">

    <div class="conteiner-labels">
        <label for="validade_material">Validade:</label>
        <label for="quantidade_material">Quantidade:</label>
        <label for="unidade" style="position:relative;right:-30px;">Medida:</label>
    </div>
    <div class="conteiner-inputs">
        <input type="date" name="validade_material" id="validade-material">
        <input type="number" name="quantidade_material" id="quantidade-material">
        <select name="unidade">
            <option value="mg">mg</option>
            <option value="g">g</option>
            <option value="kg">kg</option>
            <option value="ml">mL</option>
            <option value="l">L</option>
        </select>
    </div>

    <button type="submit" class="botao-cadastrar">Cadastrar</button>
</form>
{% endblock %}
