{% extends "modGeral.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/materiais/cadastrar_material.css') }}">
{% endblock %}

{% block headerlinks %}
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
{% endblock %}

{% block perfil %}
<h1>Fulano</h1>
<img src="../../static/assets/perfil.jpg" alt="perfil">
{% endblock %}

{% block content %}
<div id="escolha">
    <p>Cadastrar</p>
    <button onclick="change_menu('reagentes')">Reagentes</button> 
    <button onclick="change_menu('materiais')">Materiais</button>
</div>

<!-- DIV DE CADASTRO DE REAGENTES -->

<div id="form_reagentes">
    <form action="{{url_for('material.cadastro_reagente')}}" method="POST" id="form-material">
        <label for="nome_reagente">Nome do reagente:</label>
        <input type="text" name="nome_reagente" id="nome-material" value={{nome}}>

        <label for="tipo_material">Categoria:</label>
            <div id="cat_existente" {% if not categorias %}style="display: none;"{% endif %}>
                <button type="button" onclick="change_menu('nova_categoria')">Criar nova categoria</button>
                <label for="tipo_reagente">Nome da categoria:</label>
                <select name="tipo_reagente" required>
                    <option value="" disabled selected>Selecionar categoria</option>
                        {% for categoria in categorias %}
                            <option value={{categoria}}>{{categoria}}</option>
                        {% endfor %}
                </select>
            </div>
            <div id="nova_cat" {% if categorias %}style="display: none;"{% endif %}>
                    <button type="button" onclick="change_menu('categoria_existente')">Selecionar categoria existente</button>
                <label for="tipo_reagente_novo">Nome da nova categoria:</label>
                <input type="text" name="tipo_reagente_novo">
            </div>


        <div class="conteiner-labels">
            <label for="validade_reagente">Validade:</label>
            <label for="quantidade_reagente">Quantidade:</label>
            <label for="unidade">Medida:</label>
        </div>

        <div class="conteiner-inputs">
            <input type="date" name="validade_reagente" id="validade-material" value={{validade}}>
            <input type="number" name="quantidade_reagente" id="quantidade-material" value={{quantidade}}>
            <select name="unidade">
                <option value="g">g</option>
                <option value="l">L</option>
            </select>
        </div>

        <label for="lab_nome">Lab:</label>
        <input type="text" name="lab_nome" value={{laboratorio}}>

        <label for="fornecedor">Fornecedor:</label>
        <input type="text" name="fornecedor" value={{fornecedor}}>

        <button type="submit" class="botao-cadastrar">Cadastrar</button>
    </form>
</div>

<!-- DIV DO FORM PARA O CADASTRO DE MATERIAIS -->

<div id="form_materiais" style="display: none;">
    <form action="{{url_for('material.cadastro_material')}}" method="post">
        <label for="nome_material">Nome do material</label>
        <input type="text" name="nome_material">

        <label for="descricao">Descrição (opcional)</label>
        <input type="text" name="descricao">

        <h1>FALTA TERMINAR ESSE INPUT</h1>
    </form>
</div>


<script src="../../static/scripts/cadastro_materiais.js"></script>



{% endblock %}
