<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar material</title>
</head>

<body>
    <form action="{{url_for('material.edit', id = material.rgt_id)}}" method="POST" id="form-material">
        <label for="nome_material">Nome do material:</label>
        <input type="text" name="nome_material" id="nome-material" value={{material.rgt_nome}}>

        <label for="tipo_material">Tipo:</label>
        <input type="text" name="tipo_material" id="tipo-material" value={{categoria}}>

        <div class="conteiner-labels">
            <label for="validade_material">Validade:</label>
            <label for="quantidade_material">Quantidade:</label>
            <label for="unidade" style="position:relative;right:-30px;">Medida:</label>
        </div>
        <div class="conteiner-inputs">
            <input type="date" name="validade_material" id="validade-material" value={{material.rgt_validade}}>
            <input type="number" name="quantidade_material" id="quantidade-material" value={{material.rgt_quantidade}}>
            {% set opcoes = ["g", "l"] %}
            <select name="unidade">
                {% for opcao in opcoes %}
                <option value="{{ opcao }}" {% if opcao==unidade %} selected {% endif %}>{{ opcao }}</option>
                {% endfor %}
            </select>
        </div>
        <label for="lab_nome">Lab</label>
        <input type="text" name="lab_nome" value={{laboratorio}}>
        <label for="fornecedor">Fornecedor</label>
        <input type="text" name="fornecedor" value={{material.rgt_fornecedor}}>

        <button type="submit" class="botao-cadastrar">Editar</button>
    </form>
</body>

</html>