{% extends "modGeral.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/materiais/estoque.css') }}">
{% endblock %}


{% block content %}
    {% if reagentes %}
        <div id="reagentes-container">
            {% for reagente in reagentes %}
                <div class="card">
                    <p class="titulo">{{ reagente.rgt_nome }}</p>
                    <p><strong>ID:</strong> {{ reagente.rgt_id }}</p>
                    <p><strong>Quantidade:</strong> {{ reagente.rgt_quantidade }} {{ reagente.rgt_unidade }}</p>
                    <p><strong>Laboratório:</strong> {{ reagente.laboratorio.lab_sala }}</p>
                    <p><strong>Categoria:</strong> {{ reagente.categoria }}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="nenhum-reagente">Nenhum reagente cadastrado.</p>
    {% endif %}
{% endblock %}
