<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
</head>
<body>
    {% if materiais %}
        <ul id="materiais">
            {% for material in materiais %}
                <li>Id: {{material.rgt_id}} | Nome: {{material.rgt_nome}} | Quantidade: {{material.rgt_quantidade, material.rgt_unidade}} | Lab: {{material.laboratorio.lab_nome}} | Cat: {{material.categoria}}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>