<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
</head>
<body>
    {% if reagentes %}
        <ul id="reagentes">
            {% for reagente in reagentes %}
                <li>Id: {{reagente.rgt_id}} | Nome: {{reagente.rgt_nome}} | Quantidade: {{reagente.rgt_quantidade, reagente.rgt_unidade}} | Lab: {{reagente.laboratorio.lab_sala}} | Cat: {{reagente.categoria}}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>