{% extends "modGeral.html" %}

{% block head_extras %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/materiais/reserva_materiais.css') }}">
{% endblock %}

{% block headerlinks %}
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
<li><a href="#">Teste</a></li>
{% endblock %}

{% block perfil %}
<h1>Fulano</h1>
<img src="../../static/assets/perfil.jpg" alt="perfil">
{% endblock %}

{% block content %}
<div class="conteudo">
    <table>
        <thead>
            <tr>
                <th>Codigo do sistema</th>
                <th>Nome do Material</th>
                <th>Quantidade em estoque</th>
                <th>Quantidade necessaria</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>Material A</td>
                <td>50</td>
                <td> 0 </td>
            </tr>
            <tr>
                <td>002</td>
                <td>Material B</td>
                <td>30</td>
                <td>0</td>
            </tr>
            <tr>
                <td>003</td>
                <td>Material C</td>
                <td>10</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
    <button class="botao_reservar">Comfirmar reserva</button>
</div>

{% endblock %}
