* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 20px auto;
  }
  
  .voltar {
    color: #004400;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  .card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .card-header {
    background-color: #006400;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .categoria {
    background-color: #d3fbd3;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .botoes {
    margin-top: 10px;
  }
  
  .btn {
    background-color: #006400;
    color: white;
    border: none;
    padding: 6px 12px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reserva {
    background-color: #d3fbd3;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
  
  .reserva-id {
    color: #004400;
  }

  .labs-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.lab-div {
  background-color: #1D6D00;
  color: white;
  width: 18rem;
  height: 4rem;
  bottom: -2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* REMOVE ISSO AQUI */
  /* position: relative;
  top: 5rem; */
  margin-top: 2rem;
}

.lab-name-box {
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lab-name {
    font-size: 1.5rem;
}

  