* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
  font-family: Arial, sans-serif;
  max-width: 800px; 
  margin: 20px auto;
}

  
  .voltar {
    color: #004400;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  .card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .card-header {
    background-color: #006400;
    color: white;
    padding: 10px;
  }
  
  .card-body {
    margin-top: 1rem;
    padding: 15px;
  }
  
  .categoria {
    background-color: #d3fbd3;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .botoes {
    margin-top: 10px;
  }
  
  .btn {
    background-color: #006400;
    color: white;
    border: none;
    padding: 6px 12px;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .reserva {
    background-color: #d3fbd3;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
  
  .reserva-id {
    color: #004400;
  }



.lab-name-box {
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-wrapper {
  position: relative;
  margin-top: 3rem;
}

.lab-div {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  margin-left: -15rem;
  transform: translateX(-50%);
  background-color: #1D6D00;
  border-radius: 0.4rem;
  color: white;
  width: 275px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.lab-name {
  font-size: 1.5rem;
  margin: 0;
}

.informacoes{
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.info_col{
  display: flex;
  gap: 5em;
  
}

.info_col p{
  margin: 0px 10px;
}

.info-titulos {
  display: block;
  font-weight: bold;
}